page-detalhes-estabelecimento {
    .content {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: "Champagne & Limousines";
    }
    .div {
        background: transparentize($color: white, $amount: 0.5)
    }
    .toolbar-background {
        background: #e4e4e4;
        border-color: transparent;
        color: white;
    }
    title {
        color: white;
    }
    .slide-zoom {
        height: 100%;
    }
    
    .slide-title {
        margin-top: 2.8rem;
    }
    .cupom {
        border: 0;
        position: center;
        font-weight: bolder;
        border-radius: 10px;
        font-family: "Champagne & Limousines";
        background-color: #f8006c;
    }
    .slide-image {
        max-height: 40%;
        max-width: 100%;
        margin: 0 0 0 0;
        border-radius: 10px;
    }
    b {
        font-weight: 500;
    }
    h2 {
        font-family: "Champagne & Limousines";
        color: #f8006c;
    }
    h1 {
        font-family: "Champagne & Limousines";
        color: #ffffff;
    }
    p {
        padding: 0 0px;
        font-size: 14px;
        line-height: 1.5;
        font-family: "Champagne & Limousines";
        color: #000000;
        b {
            color: #000000;
        }
    }
}