<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{estabelecimento.nome | capitalizePipe }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<div class="slider-fotos">
    <ion-slides  pager (ionSlideDidChange)="slideChanged()">
        <ion-slide class="swiper-zoom-container">
          <img class="slide-image" src="http://lorempixel.com/output/food-q-c-900-600-1.jpg">
        </ion-slide>
        <ion-slide class="swiper-zoom-container">
          <img class="slide-image" src="http://lorempixel.com/output/nightlife-q-c-900-600-1.jpg">
        </ion-slide>
        <ion-slide class="swiper-zoom-container">
          <img class="slide-image" src="http://lorempixel.com/output/city-q-c-900-600-9.jpg">
        </ion-slide>
        <ion-slide class="swiper-zoom-container">
            <img class="slide-image" src="http://lorempixel.com/output/nightlife-q-c-900-600-6.jpg">
          </ion-slide>
      </ion-slides>
</div>

  <h2>
    {{estabelecimento.nome}}
  </h2>
  <br>
  <p>
    {{estabelecimento.descricao}}
  </p>
  <ion-icon ios="logo-whatsapp" md="logo-whatsapp">{{estabelecimento.telefone}} </ion-icon>
  <ion-icon ios="logo-" md="logo-whatsapp">{{estabelecimento.telefone}} </ion-icon>
  <p>{{estabelecimento.cnpj}}</p>
  <p>{{estabelecimento.endereco}}</p>
  <p>{{estabelecimento.email}}</p>


    <button class = "cupom" style="width:200;height:40"  (click)="presentContactModal()"><h1>Cupom de Desconto</h1></button>


</ion-content>