<ion-header>

  <ion-navbar color="primary">
    <ion-title> Meu Perfil </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
     <user-info [isMenu]="false" [user]="currentUser"></user-info>

  <button ion-button block (click)="canEdit= !canEdit"> Editar perfil</button>

  <form (ngSubmit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      
      <ion-input type="text" placeholder="Nome" name="name" [(ngModel)]="currentUser.name" required minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="currentUser.email" required minlenght="3">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="image" item-left></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)">
    </ion-item>


    <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>


    <br>

    <button ion-button block type="submit" [disabled]="profileForm.form.invalid"> Salvar</button>

  </form>

</ion-content>
