<!--
  Generated template for the NovoEstabelecimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>

            Novo Estabelecimento

        </ion-title>

    </ion-navbar>
    <ion-segment color="secondary">
        <ion-segment [(ngModel)]="signInType">
            <ion-segment-button value="cadastro">
                Cadastro
            </ion-segment-button>
            <ion-segment-button value="fotos" class="e2eSegmentExistingSegment">
                Fotos
            </ion-segment-button>
            <ion-segment-button value="test">
                Finalizando
            </ion-segment-button>
        </ion-segment>


    </ion-segment>
</ion-header>

<ion-content padding>


    <div [ngSwitch]="signInType">
        <div *ngSwitchCase="'cadastro'">
            <form [formGroup]="newEstabelecimentoForm" (submit)="save()" novalidate>

                <ion-item>
                    <ion-label stacked>Nome</ion-label>
                    <ion-input type="nome" placeholder="Nome do Estabelecimento" formControlName="nome"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.nome.valid &&
                                          newEstabelecimentoForm.controls.email.touched">
                    <p>Insira um nome</p>
                </ion-item>


                <ion-item [class.invalid]="!newEstabelecimentoForm.controls.email.valid && newEstabelecimentoForm.controls.email.touched"
                    [class.valid]="newEstabelecimentoForm.controls.email.valid && newEstabelecimentoForm.controls.email.touched">
                    <ion-label stacked>Email</ion-label>
                    <ion-input formControlName="email" type="email" placeholder="Email do Estabelecimento">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.email.valid &&
                                newEstabelecimentoForm.controls.email.touched">
                    <p>Por favor, insira um email válido</p>
                </ion-item>

                <ion-item [class.invalid]="!newEstabelecimentoForm.controls.cnpj.valid && newEstabelecimentoForm.controls.cnpj.touched" [class.valid]="newEstabelecimentoForm.controls.cnpj.valid && newEstabelecimentoForm.controls.cnpj.touched">
                    <ion-label stacked>Cnpj</ion-label>
                    <ion-input formControlName="cnpj" [brmasker]="{mask:'00.000.000/0000-00', len:18, type:'num'}" type="text" name="cnpj" placeholder="Cnpj"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.cnpj.valid &&
                            newEstabelecimentoForm.controls.cnpj.touched">
                    <p>Por favor, insira um endereço válido</p>
                </ion-item>



                <ion-item [class.invalid]="!newEstabelecimentoForm.controls.telefone.valid && newEstabelecimentoForm.controls.telefone.touched"
                    [class.valid]="newEstabelecimentoForm.controls.telefone.valid && newEstabelecimentoForm.controls.telefone.touched">
                    <ion-label stacked>Telefone</ion-label>
                    <ion-input formControlName="telefone" type="tel" name="telefone" placeholder="Telefone" [brmasker]="{mask:'(00) 0000-0000', len:14,  type:'num'}"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.telefone.valid &&
                                newEstabelecimentoForm.controls.telefone.touched">
                    <p>Por favor, insira um telefone válido</p>
                </ion-item>

                <ion-item [class.invalid]="!newEstabelecimentoForm.controls.telefone.valid && newEstabelecimentoForm.controls.telefone.touched"
                    [class.valid]="newEstabelecimentoForm.controls.telefone.valid && newEstabelecimentoForm.controls.telefone.touched">
                    <ion-label stacked>WhatsApp</ion-label>
                    <ion-input formControlName="whatsapp" type="tel" name="whatsapp" placeholder="WhatsApp" [brmasker]="{mask:'(00) 00000-0000', len:15,  type:'num'}"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.telefone.valid &&
                            newEstabelecimentoForm.controls.telefone.touched">
                    <p>Por favor, insira um número válido</p>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Endereço</ion-label>
                    <ion-input formControlName="endereco" type="text" name="endereco" placeholder="Endereço"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!newEstabelecimentoForm.controls.endereco.valid &&
                        newEstabelecimentoForm.controls.endereco.touched">
                    <p>Por favor, insira um endereço válido</p>
                </ion-item>

                <ion-item [class.invalid]="!newEstabelecimentoForm.controls.descricao.valid && newEstabelecimentoForm.controls.descricao.touched"
                    [class.valid]="newEstabelecimentoForm.controls.descricao.valid && newEstabelecimentoForm.controls.descricao.touched">
                    <ion-label stacked>Descrição</ion-label>
                    <ion-input type="text" placeholder="Descrição" formControlName="descricao" #descricao rows="1" id="descricao" maxLength="500"
                        (keyup)="resize()" name="descricao"></ion-input>
                </ion-item>

              
                <button ion-button block type="submit" [disabled]="!newEstabelecimentoForm.valid">
                    Adicionar
                </button>

                <button ion-button block click="proximo()"></button>
            </form>
        </div>
        <div *ngSwitchCase="'fotos'" >
                <ion-label>Fotos</ion-label>

                <ion-item>
                    <ion-icon name="image" item-left [(ngModel)]="filePhoto"></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
                <ion-item>
                    <ion-icon name="image" item-left></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
                <ion-item>
                    <ion-icon name="image" item-left></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
                <ion-item>
                    <ion-icon name="image" item-left></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
                <ion-item>
                    <ion-icon name="image" item-left></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
                <ion-item>
                    <ion-icon name="image" item-left></ion-icon>
                    <input type="file" accept="image/*" (change)="onPhoto($event)">
                </ion-item>

                <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>


        </div>
        <div *ngSwitchCase="'test'">
            Signing up as a
            <b>Test User</b>.
        </div>
    </div>




</ion-content>