<div>
  <div class="div">
    <ion-avatar [ngClass]="{'custom-background': isMenu }">
      <img class="round" [src]=" user?.photo ||'assets/imgs/no-photo.jpg'">
    </ion-avatar>
  </div>

  <h4 text-center *ngIf="user">{{ user.name }}</h4>
  <p text-center *ngIf="user">{{user.email }}</p>
</div>