page-home {   
   
    .custom-cards{
        ion-card{
        position: relative;
        text-align: center;
    }

    .card-title{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .card-subtitle{
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    }
}

ion-content.cards-bg{
    background-color: #f4f4f7;

}

.cardEstab{
    background: rgb(240, 237, 237);
    border-radius: 10px;
}

h1,h2, h3{

    color: rgb(5, 5, 5);
   font-family: "Champagne & Limousines";
}

.searchbar{
    color: #f8006c;
    border-radius: 20px;
}

.topCard{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.cabecalho{
    background: rgb(255, 255, 255);
}

