<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button (click)="canSearch= !canSearch">
        <ion-icon *ngIf="canSearch" ios="ios-close-circle" md="md-close-circle" icon-end></ion-icon>
        <ion-icon *ngIf="!canSearch" ios="ios-earch" md="md-search" icon-end>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!canSearch" style="background:transparent">
      Lista de Estabelecimentos
    </ion-title>
    <ion-searchbar *ngIf="canSearch" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>



</ion-header>
<ion-content>

  <ion-list>
    <ion-card class="cardEstab" ion-item *ngFor="let todo of todos" (click)="itemTapped($event, todo)">
      <div class="topCard">
        <ion-item class="cabecalho">
          <ion-avatar item-left>
            <img src="assets/imgs/rest.jpg">
          </ion-avatar>
          <h3>Tony Stark</h3>
        </ion-item>
        <img src="assets/imgs/rest.jpg">
        <div class="card-title">{{todo.nome}}</div>
        <ion-card-content>
          <h3>{{todo.telefone}}</h3>
        </ion-card-content>

        <ion-row>

          <ion-col>
            <button ion-button clear small icon-left>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12k likes </div>
            </button>
          </ion-col>

          <ion-col>
            <button ion-button clear small icon-left>
              <ion-icon name="text"></ion-icon>
              <div>4 coments</div>
            </button>
          </ion-col>
          <ion-col text-center center>
            <ion-note>
              {{todo.data| date}}
            </ion-note>
          </ion-col>
          <ion-col>
            <button>Cupom de Desconto</button>
          </ion-col>

        </ion-row>


      </div>
    </ion-card>

  </ion-list>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>    -->

</ion-content>