<ion-header>
    <ion-navbar color="primary">
      <ion-title>Password Reset</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="auth-page">
  
      <h1 text-center>
          <img src="http://placehold.it/300x150" alt="Banner for the login page" />
        </h1>
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
      <ion-item [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched"
        [class.valid]="resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched">
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid &&
       resetPasswordForm.controls.email.touched">
        <p>Please enter a valid email address.</p>
      </ion-item>
  
      <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid">
        Reset Your Password
      </button>
    </form>
  
  </ion-content>