<ion-header>
  <ion-navbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="auth-page">
  <h1 text-center>
    <ion-icon class="auth-icon" name="person-add" color="primary"></ion-icon>
  </h1>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-icon name="person" item-left color="primary"></ion-icon>
      <ion-input type="text" placeholder="Seu nome" formControlName="name"></ion-input>
    </ion-item>


    <ion-item [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.touched" [class.valid]="signupForm.controls.email.valid && signupForm.controls.email.touched">
      <ion-icon name="mail" item-left color="primary"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Seu email">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid &&
         signupForm.controls.email.touched">
      <p>Por favor, insira uma email válido.</p>
    </ion-item>

    <ion-item [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.touched" [class.valid]="signupForm.controls.password.valid && signupForm.controls.password.touched">
      <ion-icon name="lock" item-left color="primary"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Sua senha">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid
        && signupForm.controls.password.touched">
      <p>Sua senha deve conter pelo menos 6 digitos.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Cadastrar!
    </button>
  </form>
</ion-content>