<ion-navbar>
  <button ion-button menuToggle="user-menu">
      <ion-icon name="menu"></ion-icon>
  </button>


  <ion-title>
    <ion-item detail-none no-lines color="transparent" *ngIf="user; else titleTemplate">
      <ion-avatar item-left>
        <img [src]="user.photo || 'assets/imagens/no-photo.jpg'">
      </ion-avatar>
       {{title}}
    </ion-item>
    <ng-template #titleTemplate>
       {{title}}
    </ng-template>
   
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="onLogout()">
      <ion-icon name="exit"></ion-icon>
      </button>
  </ion-buttons>
</ion-navbar>