<ion-content>

  <user-info [user]="currentUser" [isMenu]=true></user-info>

  <ion-list no-lines>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
   
    <button color="primary" ion-item icon-right detail-nome menuClose="user-menu" (click)="logoutUser()">
      Sair
      <ion-icon name="log-out" item-end >  </ion-icon>
    </button>
  </ion-list>
</ion-content>